# virtualenv
.venv/
venv/

# Python caches
__pycache__/
*.pyc

# OS / editor
.DS_Store
.idea/
.vscode/

# Models / caches
.cache/
.paddleocr/
checkpoints/
*.pth
*.onnx

# App outputs
uploads/
ocr_results.csv
